@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;300&family=Andika:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilo de header */
.logo{
    display: flex;
background: rgb(221,201,233);
background: linear-gradient(270deg, rgba(221,201,233,1) 8%, rgba(226,203,215,1) 38%, rgba(228,231,233,1) 86%);
}

.logo h1{
    color: black;
    margin-top: 60px;
    margin-left: 30px;
}
/* cierra estilo header */

/* estilo tarjetitas */
.tarjetitas, .tarjetas {
    display: flex;
    width: 1100px;
    gap: 3rem;
}

.cajita3 {
    transition: transform 1s;
}

.cajita3:hover {
    transform: rotate(140deg) scale(2) skew(30deg);
}

.tarjetita {
    transition: all .3s;
}

.tarjetita:hover {
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* cierra estilo tarjetitas*/